<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <title>Index</title>
        <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.full.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@latest"></script>
        <style>
                div.container {
                        width: 80%;
                }

                /* 设置奇数行的底色 */
                #excel tbody tr:nth-child(odd) {
                        background-color: #f2f2f2; /* 或者其他你想要的颜色 */
                }

                /* 设置偶数行的底色 */
                #excel tbody tr:nth-child(even) {
                        background-color: #ffffff; /* 或者其他你想要的颜色 */
                }

                /* 设置奇数行的底色 */
                #excel2 tbody tr:nth-child(odd) {
                        background-color: #f2f2f2; /* 或者其他你想要的颜色 */
                }

                /* 设置偶数行的底色 */
                #excel2 tbody tr:nth-child(even) {
                        background-color: #ffffff; /* 或者其他你想要的颜色 */
                }

                h1 {text-align: center;}
                body {background-color: rgba(173, 214, 255, 0.3);}

                /* 缩小表格字体大小 */
                table.dataTable {
                font-size: 12px; /* 根据需要调整字体大小 */
                }
                /* 你也可以调整其他样式，如表头字体大小 */
                table.dataTable thead th {
                font-size: 12px; /* 根据需要调整表头字体大小 */
                }
        </style>
</head>
<body>
        <div id="body" style="display: none;">
                <ul class="nav nav-tabs justify-content-center">
                        <li class="nav-item">
                          <a class="nav-link active" aria-current="page" href="#" id="tab_database">資料庫</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#" id="tab_mergedata">合併資料</a>
                        </li>
                      </ul>
                <br>
                <h1 style="text-align: center;">創新研究部-公益專案</h1>
                <div class="container">
                        <div id="tab1">
                                <div class="row">
                                        <div class="col-6">
                                                <h2>上傳xlsx至資料庫(新增) : </h2><input type="file" id="file-input2"/>
                                        </div>
                                        <div class="col-6">
                                                <h2>送出修改資料至資料庫(修改) : </h2><button id="update_database">送出</button>
                                        </div>
                                </div>
                                <br>
                                <div class="row">
                                        <div class="col" id="table_space">
                                                
                                        </div>
                                        
                                </div>
                        </div>
                        <div id="tab2" style="display: none;">
                                <div class="row">
                                        <div class="col-6">
                                                <h2>匯入客戶資料 : </h2><input type="file" id="file-input"/>
                                        </div>
                                        <div class="col-6">
                                                <h2>下載合併資料 : </h2><button id="download">下載</button>
                                        </div>
                                </div>
                                <br>
                                <div class="row">
                                        <div class="col" id="table_space2">
                                                
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</body>
<script>
        var newtable;
        var newtable2;
        document.getElementById('file-input').addEventListener('change', readSingleFile);
        document.getElementById('file-input2').addEventListener('change', readSingleFile2);
        document.getElementById('update_database').addEventListener('click', update_database);
        document.getElementById('download').addEventListener('click', download);
        document.getElementById('tab_database').addEventListener('click', function(event) {
                change_tab(this);
        });
        document.getElementById('tab_mergedata').addEventListener('click', function(event) {
                change_tab(this);
        });

        function change_tab(obj){
                if(obj.id == "tab_database"){
                        var tab_database = document.getElementById("tab_database");
                        var tab_mergedata = document.getElementById("tab_mergedata");
                        var tab1 = document.getElementById("tab1");
                        var tab2 = document.getElementById("tab2");
                        tab1.style.display="block";
                        tab2.style.display="none";
                        tab_mergedata.setAttribute("class","nav-link");
                        tab_mergedata.removeAttribute("aria-current");
                        tab_database.setAttribute("class","nav-link active");
                        tab_database.setAttribute("aria-current","page");
                }
                else if(obj.id == "tab_mergedata"){
                        var tab_database = document.getElementById("tab_database");
                        var tab_mergedata = document.getElementById("tab_mergedata");
                        var tab1 = document.getElementById("tab1");
                        var tab2 = document.getElementById("tab2");
                        tab1.style.display="none";
                        tab2.style.display="block";
                        tab_database.setAttribute("class","nav-link");
                        tab_database.removeAttribute("aria-current");
                        tab_mergedata.setAttribute("class","nav-link active");
                        tab_mergedata.setAttribute("aria-current","page");
                }
        }

        async function update_database(){
                var data = newtable.rows().data();
                var dataArray = data.toArray();
                var jsonData = JSON.stringify(dataArray);

                // 使用 map 方法遍历数组，并从每个对象中删除特定的属性
                /*var modifiedArray = dataArray.map(function(obj) {
                        // 创建一个新对象，复制原对象的所有属性
                        var newObj = Object.assign({}, obj);
                        // 删除 newObj 中的 element1 和 element2 属性
                        delete newObj.date;
                        delete newObj.money;
                        // 返回修改后的对象
                        return newObj;
                });*/
                //console.log(modifiedArray);
                //dataArray = modifiedArray
                
                //console.log(jsonData);
                //console.log(dataArray);
                const options = {
                                method: "POST",
                                headers: {
                                        "Content-Type": "application/json",
                                },
                                body: JSON.stringify(dataArray),
                        };

                const response = await fetch("/update_database", options);
                const json = await response.json();
        }

        load_database();
        async function load_database(){
                var table = document.getElementById("excel");
                if( table == undefined ){

                        const options = {
                                method: "POST",
                                headers: {
                                        "Content-Type": "application/json",
                                },
                                body: JSON.stringify({}),
                        };

                        const response = await fetch("/load_database", options);
                        const json = await response.json();
                        temp_json = JSON.parse(json["result"]);
                        //console.log(temp_json);

                        var cc = document.getElementById("table_space");
                        var table = document.createElement("table");
                        table.id = "excel";//class="cell-border"
                        table.setAttribute("class","cell-border");
                        cc.appendChild(table);
                        newtable = $('#excel').DataTable({
                                        "data": temp_json,
                                        "columns": [
                                                { data: 'id', title: "id"},
                                                { data: 'name', title: "name"},
                                                { data: 'donor', title: "donor"},
                                                { data: 'identity', title: "identity"},
                                                { data: 'address', title: "address"},
                                                { data: 'phone', title: "phone"},
                                                { data: 'remark', title: "remark"},
                                                { data: 'email', title: "email"},
                                                { data: 'company email', title: "company email"},
                                                {
                                                        title: 'delete',
                                                        data: null,
                                                        defaultContent: '<button class="btn btn-danger btn-sm">Delete</button>'
                                                }
                                        ],
                                        //"searching": false,
                                        "ordering": false,
                                        "select": true,
                                        "scrollX": true
                        })
                        $('#excel tbody').on('click', 'button.btn-danger', function() {
                                var row = newtable.row($(this).parents('tr'));
                                row.remove().draw(false);
                        });
                        newtable.on('click', 'tbody td', async function() {
                                var cell = newtable.cell(this);
                                var cellData = cell.data();
                                var colIdx = cell.index().column; // 取得該單元格的直欄索引
                                var colName = newtable.settings().init().columns[colIdx].title; // 取得直欄名稱
                                //console.log("Clicked column name:", colName);
                                //console.log("Cell value:", cellData);
                                if( cellData == "" || cellData == null ){
                                        cellData = "";
                                }
                                if(colName.indexOf('delete') == -1){
                                        const { value: ipAddress } = await Swal.fire({
                                                title: "請輸入要修改的內容",
                                                input: "text",
                                                inputLabel: colName,
                                                inputValue: cellData,
                                                showCancelButton: true,
                                                inputValidator: (value) => {
                                                        if (!value) {
                                                                return "You need to write something!";
                                                        }
                                                        else if( colName == "identity" ){
                                                                if( value.length != 10 ){
                                                                        return "identity length is wrong!";
                                                                }
                                                                else if( !(/^[A-Z]$/.test(value[0])) ){
                                                                        return "identity first char is wrong!";
                                                                }
                                                        }
                                                }
                                        });
                                        if (ipAddress) {
                                                cell.data(`${ipAddress}`);
                                        }
                                }
                        });
                }
        }
        
        async function readSingleFile(e) {
            var file = e.target.files[0];
            if (!file) {
                return;
            }
            
            let formData = new FormData();
            formData.append('clientFile', file);
            formData.append('kind', "result");
            
            const options = {
                method: "POST",
                headers: {
                    //"Content-Type": "application/json",
                    //"Content-Type": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                },
                //body: JSON.stringify(data),
                //body: file,
                body: formData,
            };
    
            await fetch("/merge_submit", options)
                .then(response => response.json())
                .then(json => {
                        temp_json = JSON.parse(json["result"]);
                        console.log(temp_json);
                        var table_space = document.getElementById("table_space");
                        //table_space.style.display="none";

                        var cc = document.getElementById("table_space2");
                        var table = document.createElement("table");
                        table.id = "excel2";
                        table.setAttribute("class","cell-border");
                        cc.appendChild(table);
                        newtable2 = $('#excel2').DataTable({
                                        "data": temp_json,
                                        "columns": [
                                                { data: 'date', title: "date"},
                                                { data: 'name', title: "name"},
                                                { data: 'donor', title: "donor"},
                                                { data: 'money', title: "money"},
                                                { data: 'id', title: "id"},
                                                { data: 'identity', title: "identity"},
                                                { data: 'address', title: "address"},
                                                { data: 'phone', title: "phone"},
                                                { data: 'remark', title: "remark"},
                                                { data: 'email', title: "email"},
                                                { data: 'company email', title: "company email"},
                                                /*{
                                                        title: 'delete',
                                                        data: null,
                                                        defaultContent: '<button class="btn btn-danger btn-sm">Delete</button>'
                                                }*/
                                        ],
                                        //"searching": false,
                                        "ordering": false, 
                                        "select": true,
                                        "scrollX": true
                        })
                        /*$('#excel2 tbody').on('click', 'button.btn-danger', function() {
                                var row = newtable.row($(this).parents('tr'));
                                row.remove().draw(false);
                        });
                        newtable.on('click', 'tbody td', async function() {
                                var cell = newtable.cell(this);
                                var cellData = cell.data();
                                var colIdx = cell.index().column; // 取得該單元格的直欄索引
                                var colName = newtable.settings().init().columns[colIdx].title; // 取得直欄名稱
                                //console.log("Clicked column name:", colName);
                                //console.log("Cell value:", cellData);
                                if( cellData == "" || cellData == null ){
                                        cellData = "";
                                }
                                //console.log(colName.indexOf('money'));
                                if(colName.indexOf('money') == -1 && colName.indexOf('金額') == -1 && colName.indexOf('delete') == -1){
                                        const { value: ipAddress } = await Swal.fire({
                                                title: "請輸入要修改的內容",
                                                input: "text",
                                                inputLabel: colName,
                                                inputValue: cellData,
                                                showCancelButton: true,
                                                inputValidator: (value) => {
                                                        if (!value) {
                                                                return "You need to write something!";
                                                        }
                                                }
                                        });
                                        if (ipAddress) {
                                                cell.data(`${ipAddress}`);
                                        }
                                }
                        });*/

                        //console.log(temp_json);
                })
                .catch(error => console.error('Error:', error));
        }
        
        async function readSingleFile2(e) {
            var file = e.target.files[0];
            if (!file) {
                return;
            }
            
            let formData = new FormData();
            formData.append('clientFile', file);
            formData.append('kind', "result");
            
            const options = {
                method: "POST",
                headers: {
                    //"Content-Type": "application/json",
                    //"Content-Type": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                },
                //body: JSON.stringify(data),
                //body: file,
                body: formData,
            };
    
            await fetch("/database_submit", options)
                .then(response => response.json())
                .then(json => {
                        
                })
                .catch(error => console.error('Error:', error));
        }

        function download(){
                var data = newtable2.rows().data();
                var dataArray = data.toArray();
                var ary = [];
                ary = dataArray.map(item => item["name"].substr(0, 1));
                ary.sort((a, b) => a.localeCompare(b, "zh-Hant-TW"));
                // 创建一个索引字典来映射字符到索引
                const indexMap = new Map(ary.map((char, index) => [char, index]));
                // 根据排序数组对 temp_json 进行排序
                dataArray.sort((a, b) => {
                        const charA = a["name"].substr(0, 1);
                        const charB = b["name"].substr(0, 1);
                        return indexMap.get(charA) - indexMap.get(charB);
                });
                //console.log(dataArray);
                var jsonData = JSON.stringify(dataArray);
                
                const wb = XLSX.utils.book_new();
                const ws = XLSX.utils.json_to_sheet(dataArray);

                XLSX.utils.book_append_sheet(wb, ws, "Sheet1");

                // Save workbook to Excel file
                const wbout = XLSX.write(wb, { bookType: 'xlsx', type: 'array' });
                const blob = new Blob([wbout], { type: 'application/octet-stream' });

                // Trigger file download
                const url = URL.createObjectURL(blob);
                const a = document.createElement('a');
                a.href = url;
                a.download = 'output.xlsx';
                document.body.appendChild(a);
                a.click();
                document.body.removeChild(a);
                URL.revokeObjectURL(url);
        }

        // 讀取 Cookie 的函數
        function getCookie(name) {
            const value = `; ${document.cookie}`;
            const parts = value.split(`; ${name}=`);
            if (parts.length === 2) return parts.pop().split(';').shift();
        }

        // 檢查是否有登入的 Cookie
        function checkLogin() {
            const username = getCookie('username');
            const password = getCookie('password');

            if (username && password) {
                // 有 Cookie，顯示頁面內容
                var body = document.getElementById("body");
                body.style.display="block";
            } else {
                // 沒有 Cookie，跳轉到 login.html
                window.location.href = '/';
            }
        }

        // 在頁面加載時檢查登入狀態
        window.onload = checkLogin;
</script>
</html>